

$color-white:#fff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-primary: #55c57a;

$color-black:#000;

$color-medium-green:#55c57a;


$color-dark-green:rgba(28, 135, 105, 0.8);
$color-light:rgba(0, 0, 0, 0.8);


$color-light-blue:#2998ff;
$color-dark-blue:#5643fa;


$color-text:#777;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;


$space-horizantal:6rem;

$margin-bottom-big:8rem;

$margin-bottom-medium:3rem;


$margin-bottom-small:1.5rem;


$default-font-size:1.6rem;


$color-invalid:#f04300b3;

$color-footer:#333;

$space-horizantal-small:4rem;


$color-heading-secondary-start:rgba(28, 135, 105, 0.8);
$color-heading-secondary-end:rgba(51, 174, 231, 0.8);


$color-footer-gradient-end:rgba(24, 49, 60, 0.8);