@mixin clearfix{



	&::after{
		content:"";
		display: table;
		clear: both;
	}
}


@mixin respond ($breakpoint) {



@if $breakpoint == tab-land {
	@media only screen and (max-width:75rem) { @content };  /* ---1200px---- Desktop */
}

@if $breakpoint == tab-port{
	@media only screen and (max-width:56.25rem) { @content };  /* ---900px---- Tablet */
}

@if $breakpoint == phone{
	@media only screen and (max-width:37.5rem) { @content };     /* ---600px---- Phone */
}

@if $breakpoint == big-desktop{

	@media only screen and (min-width:112.5rem) { @content };       /* --- 1800px + ---- Phone */
}

}