



.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .15;
    overflow: hidden;
  height: 100%;
 width: 100%;
 z-index: -1;


    &_content {
        height: 100%;
        width: 100%;
   object-fit: fill;
    }
}