.btn{

	display: inline-block;
	text-decoration: none;
	padding: 1.5rem 4rem 1rem 4rem;
	border-radius: 10rem;
	text-transform: uppercase;
	position: relative;

border: none;



&::after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10rem;
	z-index: -1;
	position: absolute;
	top: 0rem;
	left: 0rem;
	transition: all .4s;
}

&:hover::after{

	transform: scaleX(1.4) scaleY(2);
	
	opacity: 0;
	


}


&--animated{
	animation: moveinbottom 1s .85s;
	animation-fill-mode: backwards;
}


}


.button--green{


	color:$color-white;
	background-color: $color-dark-green;
	font-size:1.6rem;
	margin-top: 5rem;
		margin-left: 5rem;


   
&:hover{

	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);
}

&:active{
		
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}



&::after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10rem;
	z-index: -1;
	position: absolute;
	top: 0rem;
	left: 0rem;
	transition: all .4s;
}

&:hover::after{

	transform: scaleX(1.4) scaleY(2);
	background-color: $color-dark-green;
	opacity: 0;
	z-index: 1;
	


}
}
.btn--green{


	color:$color-white;
	background-color: $color-dark-green;
	font-size:1.6rem;
	transform: translateY(300px); 

	@include respond(tab-port){
		transform: translateY(2px); 
	}

&:hover{
	transform:translateY(297px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);

@include respond(tab-port){
		transform: translateY(-5px); 
	}

}

&:active{
		transform:translateY(300px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);

	@include respond(tab-port){
		transform: translateY(2px); 
	}

}



&::after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 10rem;
	z-index: -1;
	position: absolute;
	top: 0rem;
	left: 0rem;
	transition: all .4s;
}

&:hover::after{

	transform: scaleX(1.4) scaleY(2);
	background-color: $color-dark-green;
	opacity: 0;
	


}

}
.btn--white{


	color:$color-text;
	background-color: $color-white;
	font-size:1.6rem; 

	@media  (max-width:25rem){
		font-size: 1.2rem;

	}


&:hover{
	transform:translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);
}

&:active{
		transform:translateY(1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}


	


&::after{
	background-color: $color-white;
	
}

}


.btn-text{


text-decoration: none;
color: $color-dark-green;
font-size: $default-font-size;
border-radius: 2px;
border-bottom: 1px solid $color-dark-green ;
padding: .5rem; 
transition: all .2s;

	
&:hover{
	transform:translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	background-color: $color-dark-green;
	color:$color-white;
	padding: 1rem; 
}

&:active{
	transform:translateY(1px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
	background-color: $color-dark-green;
	color:$color-white;
	padding: 1rem; 

}

}





